DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'HOST': '',
        'PORT': '',
        'USER': '',
        'PASSWORD': ''
    }
}

RAVEN_CONFIG = {
    'dsn': '',
    'register_signals': True,
}
