import os

hosts = ['username@host']
git_repository_command = \
    'ssh://username@example.org/path/project-repo.git'
git_branch = 'master'
path_deploy_to = '/path/deploy'

virtualenv_path = os.path.join(path_deploy_to,
    'shared', 'virtualenv')
virtualenv_name = 'virtualenv_name_here'
project_directory_name = 'virtualenv_name_here'

setting_files = [
    #'gunicorn_settings.py',
    'settings.production.py']
